 /*Questions: 1: How to move "placeholder"
                 below the boxes?
 		      2: How to show border between 
 		         orange and blue box?
 		      3: How to even out the right border
 		         of the blue and orange blocks.*/

 main {
 	padding: 30px;
 	font-size: 0;
 	width: 800px;
 	height: 500px;
 	margin-left: auto;
 	margin-right: auto;
 }
 .color1 {
 	width: 50%;
 	height: 200px;
 	display: inline-block;
 	font-size: 0;
 	border: solid black 1px;
 }

 .green {
 	background-color: green;
border: solid black 1px;
 }
 .blue {
 	background-color: blue;
 border: solid black 1px;
 }  

 .color2 {
 	width: 33.333%;
 	height: 300px;
 	display: inline-block;
 	font-size: 0;
 border: solid black 1px;
 }

 .grey {
 	background-color: grey;
 border: solid black 1px;
 }
 .black {
 	background-color: black;
 border: solid black 1px;
 }
 .orange {
 	background-color: orange;
 border: solid black 1px;
 }